.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Allow scrolling if the modal content is too large */
}

.modal-content {
  background: linear-gradient(135deg, #f3f4f6, #84c6af);
  padding: 20px;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  max-height: 80vh; /* Limit the height of the modal to 80% of the viewport height */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column; /* Ensure the modal content is arranged in a column */
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #677380;
  margin-bottom: 15px;
}

.modal-body {
  flex-grow: 1; 
  overflow-y: auto;
  margin-bottom: 15px;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  border-top: 1px solid #dfebf7;
  padding-top: 15px;
}
