/* Navbar.module.css */

.agentNavbar {
  background-color: #34495e; /* Dark navy background for a sophisticated look */
  padding: 10px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.navLogo img {
  width: 180px;
  transition: transform 0.3s ease-in-out;
}

.navLogo img:hover {
  transform: scale(1.1);
}

.navLinks {
  list-style-type: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin-left: auto;
}

.navLinks a {
  color: #ecf0f1;
  padding: 10px 15px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 5px;
}

.navLinks a:hover,
.dropdownToggle:hover,
.dropbtn:hover {
  background-color: #1abc9c;
  color: #2c3e50;
}

.dropdown,
.dropdownContent {
  position: relative;
}

.dropdownToggle,
.dropbtn {
  background: none;
  color: #ecf0f1;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  border-radius: 5px;
}

.dropdownMenu,
.dropdownContent {
  display: none;
  position: absolute;
  background-color: #2c3e50;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
  min-width: 200px;
  z-index: 1000;
  border-radius: 8px;
}

.dropdown:hover .dropdownMenu,
.dropdown:hover .dropdownContent {
  display: block;
}

.dropdownItem,
.dropdownContent a {
  color: #ecf0f1;
  padding: 10px 20px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s;
}

.dropdownItem:hover,
.dropdownContent a:hover {
  background-color: #1abc9c;
}

.dropdownContent {
  right: 0;
  top: 100%;
  left: auto;
}
